.menu ul {
    display: none;
}
.card a:hover{
    color:#BCC2E5 ;
}

.menu li a {
    color: #3347B0;
}

.menu:hover ul {
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out
}

.menu ul {
    background-color: #3347B0;
    padding: 10px;
}

.menu ul li {
    padding: 5px;
    display: flex;
    gap: 10px;
}

.certo {
    color: #FFFF;
    visibility: hidden;
}

.menu ul li a {
    color: #FFFF;
    display: flex;
    gap: 5px;
    transition: ease-in-out .5s;
}

.menu ul li a:hover .certo {
    visibility: visible;
}

.btnFormat{
    background-color: transparent;
    border: none;
}