main {
    height: 70vh;
    overflow-y: auto;
}

.card-container {
    height: 70vh;
    display: grid;
    grid-template-areas:
        "aluno notas";
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-items: center;
    padding-top: 2rem;
}


.card-aluno {
    grid-area: aluno;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    width: 25vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.image-aluno {
    width: 20vw;
}

.name-aluno {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    justify-self: center;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-notas {
    grid-area: notas;
    height: 50vh;
    width: 40vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box-notas {
    height: 50vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nota-aluno {
    display: grid;
    grid-template-areas:
        "nota"
        "box"
        "materia";
    grid-template-rows:
        .2fr 1fr .1fr;
    place-items: center;
}

.porcentagem-nota-aprovado{
    grid-area: nota;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.porcentagem-nota-reprovado{
    grid-area: nota;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    color: #c11010;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.porcentagem-nota-exame{
    grid-area: nota;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    color: #E5B657;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tamanho-nota {
    grid-area: box;
    height: 30vh;
    width: 1vw;
    background-color: #EEEFF8;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nota-aprovado {
    background: #3347B0;
    box-shadow: 0px 0px 24px #3347B0;
    border-radius: 4px 4px 0px 0px;
}

.nota-reprovado {
    background: #C11010;
    box-shadow: 0px 0px 24px #C11010;
    border-radius: 4px 4px 0px 0px;
}

.nota-exame {
    background: #E5B657;
    box-shadow: 0px 0px 24px #E5B657;
    border-radius: 4px 4px 0px 0px;
}

.subject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}
@media (max-width: 1440px){
    .box-notas{
        gap: 5%;
    }

    .tamanho-nota{
        width: 1.2vw;
    }
}
@media (max-width: 1024px){
    .card-aluno{
        width: 35vw;
        justify-content: center;
        align-items: center;
    }
    .image-aluno{
        width: 25vw ;
    }

    .box-notas{
        gap: 4%;
    }
}
@media (max-width: 768px){
    .card-aluno{
        width: 40vw;
        justify-content: center;
        align-items: center;
    }
    .image-aluno{
        width: 35vw;
    }

    .card-notas{
        display: flex;
        align-items: center;
    }
    .box-notas{
        width: 45vw;
        gap: 1.5%;
    }

    .tamanho-nota{
        width: 2vw;
    }

}


@media (max-width: 640px) {
    .card-container {
        height: auto;
        display: grid;
        grid-template-areas:
            "container";
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 3rem;
    }
    .box-notas{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 1.5rem;
    }
    .card-aluno {
        grid-area: container;
    }
    .card-aluno{
        width: 90vw;
    }
    .image-aluno{
        width: 50vw;
    }
    .card-notas{
        width: 90vw;
        display: flex;
        justify-content: center;
        grid-area: container;
    }

}

@media (max-width: 540px) {

    .image-aluno{
        width: 65vw;
    }

    .card-aluno{
        width: 90%;
    }
    .box-notas{
        display: flex;
        flex-direction: row;
        width: 60%;
        gap: 3%;
        height: 40vh;
    }
    .card-notas{
        width: 90%;
        height: 40vh;
        display: flex;
        justify-content: center;
        grid-area: container;
    }
    
    .tamanho-nota{
        width: 3.5vw;
    }



}